
Project/KingBakery/.vs/KingBakery/FileContentIndex/8f5f95c4-436e-45cc-9d53-69e0980f9109.vsidx
*.vsidx
*.vsidx
*.bin
*.v2
*.dll
*.exe
*.pdb
*/appsettings.json
Project/KingBakery/appsettings.json
Project/KingBakery/bin/Debug/net8.0/appsettings.json
Project/KingBakery/.vs/KingBakery/config/applicationhost.config
Project/KingBakery/.vs/KingBakery/config/applicationhost.config
Project/KingBakery/appsettings.json
Project/KingBakery/bin/Debug/net8.0/appsettings.json
Project/KingBakery/appsettings.json
Project/KingBakery/bin/Debug/net8.0/appsettings.json
Project/KingBakery/appsettings.json
Project/KingBakery/bin/Debug/net8.0/appsettings.json
