<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>pillloMart</title>
    <link rel="icon" href="img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="~/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <!--::header part start::-->
    @await Component.InvokeAsync("Header");
    <!-- Header part end-->
    <!-- breadcrumb part start-->
    <section class="breadcrumb_part">
        <div class="row background ">
            <div class=" ">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <h2>Về chúng tôi </h2>                      
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb part end-->
    <!-- product list part start-->
    <section class="about_us padding_top">
        <div class="container">
            <div class="row "
                <div class="col-lg-8">
                    <div class="about_us_content">
                        <h2 class="justify-content-center">King Bakery </h2>
                        <h3>
                            Sứ mệnh của chúng tôi là tạo ra những trải nghiệm tuyệt vời và đáng nhớ cho khách hàng thông qua nghệ thuật làm bánh. Chúng tôi cam kết mang đến chất lượng và sự tươi mới trong từng sản phẩm, không ngừng sáng tạo và giữ vững các giá trị truyền thống.

                            Chúng tôi luôn nỗ lực xây dựng một cộng đồng gắn kết và kết nối thông qua các hoạt động và sự kiện. Chúng tôi hiểu rằng, mỗi chiếc bánh không chỉ là một sản phẩm, mà còn là một phần của niềm vui và sự sẻ chia trong cuộc sống hàng ngày của khách hàng.

                            Với tầm nhìn bền vững và trách nhiệm, King Bakery cam kết sử dụng các nguyên liệu thân thiện với môi trường và áp dụng các phương pháp sản xuất tiên tiến để giảm thiểu tác động tiêu cực đến hành tinh. Chúng tôi luôn đặt sự hài lòng của khách hàng lên hàng đầu, lắng nghe và đáp ứng nhu cầu của họ một cách tận tâm và chu đáo.

                            Tại King Bakery, mỗi chiếc bánh là một tác phẩm nghệ thuật, được chế tác với tình yêu và đam mê. Chúng tôi hy vọng rằng, mỗi lần thưởng thức sản phẩm của chúng tôi, khách hàng sẽ cảm nhận được sự tận tâm và nhiệt huyết mà chúng tôi đã đặt vào từng chi tiết nhỏ nhất. Chúng tôi tin rằng, sự hài lòng của khách hàng không chỉ là mục tiêu, mà còn là niềm vui và động lực để chúng tôi tiếp tục phát triển và hoàn thiện.
                        </h3>


                    </div>

                </div>
                <div>

                    </div>
            </div>
        </div>
    </section>
    <!-- product list part end-->
    <!-- feature part here -->
    <section class="feature_part section_padding">
        <div class="container">
            <div class="row justify-content-between" style="">
                <div class="col-lg-6">
                    <div>
                        <h3 style="font-size: 35px; font-family:Arial">
                            Chế biến các loại bánh ngọt và bánh mì ngon một cách hiệu quả bằng cách sử dụng nguyên liệu cao cấp, đồng thời tuân thủ các tiêu chuẩn chất lượng cao nhất và sự hài lòng của khách hàng.
                        </h3>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div>
                        <p style="font-size: 22px; font-family:Arial">Tăng cường một cách liền mạch các kỹ thuật làm bánh đã được nghiên cứu kỹ lưỡng và các công thức nội bộ hoặc 'hữu cơ' có khả năng tương tác. Đổi mới một cách đáng tin cậy các công thức nội bộ hoặc 'hữu cơ' chi tiết trong khi vẫn duy trì các tiêu chuẩn cao về chất lượng sản phẩm và trải nghiệm khách hàng..</p>
                    </div>
                </div>
            </div>
            
    <!-- subscribe part end -->
    <!--::footer_part start::-->
    @await Component.InvokeAsync("Footer");
    <!--::footer_part end::-->
    <!-- jquery plugins here-->
    <script src="~/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="~/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="~/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="~/js/swiper.jquery.js"></script>
    <!-- swiper js -->
    <script src="~/js/mixitup.min.js"></script>
    <!-- particles js -->
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/contact.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/mail-script.js"></script>
    <!-- custom js -->
    <script src="~/js/custom.js"></script>
</body>

</html>